{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="{% static "engine/css/style.css" %}">
</head>

<script type="text/javascript">
    var my_city = "";
    navigator.geolocation.getCurrentPosition(function(location) {
        $.ajax({
            url: "{% url 'location_weather' %}",
            data: {
                latitude: location.coords.latitude,
                longitude: location.coords.longitude
            },
            success: function(html){
                $("#text").html(html);
                var city = $('#location_weather_city').attr('data');
                my_city = city;
                $('#current_city').html('<i class="fa fa-map-marker" aria-hidden="true"></i>   ' + city);
            }
        });
    });
    function AjaxGetCity(city){
        $.ajax({
            url: "{% url 'get_city' %}",
            data: {
				city: city
            },
            success: function(html){
                $("#text").html(html);
            }
        });
    }
    function AjaxAddCity(city){
        $.ajax({
            url: "{% url 'add_city' %}",
            data: {
				city: city
            },
            success: function(html){
                if (html != "None") {
                    $("#cities").prepend(' <li> <a class="nav_link" href="#" onclick="AjaxGetCity(\''+ city + '\');return false">' + city + '</a><div style="float:right;margin-right:5%;margin-top:25px" onclick="result = confirm(\'Do you want delete this city?\');if(result == true){AjaxRemoveCity(' + html + ');$(this).parent().remove();}">X</div></li>');
                }
            }
        });
    }
    function AjaxRemoveCity(pk){
        $.ajax({
            url: "{% url 'remove_city' %}",
            data: {
				pk: pk
            }
        });
    }
</script>

<body>
<div class="wrapper">
    <div class="text-wrap">
        <div class="text" id="text">Loading...</div>
    </div>
    <div class="header">
        <div class="burger-wrapper">
            <div class="burger"></div>
        </div>
        <div class="logo-text">Cities</div>
    </div>
    <div class="nav">
        <ul class="nav_main" id="nav_main">
            <form method="POST" class="search-form" id="search" style="width:100%">{% csrf_token %}
                <input class="js-searchInput textInput textInput--jumbo textInput--underlined u-marginBottom40" type="search" id="searchText" placeholder="ENTER CITY" maxlength="300" style="text-align: center;font-size: 2rem;padding-bottom: -100px; color:#111">
            </form>
            {% include "engine/city_list.html" %}
        </ul>
    </div>
    <div class="dim"></div>
</div>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TimelineMax.min.js'></script>
<script src="{% static "engine/js/index.js" %}"></script>
<script>
    $(document).ready(function(){
        $("#search").submit(function(event){
          event.preventDefault();
          var searchText = document.getElementById('searchText').value;
          AjaxAddCity(searchText);
        });
    });
</script>

</body>
</html>
